@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  min-height: 100vh;
}

.container {
  height: 100vh;
}

.globalSpinner {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.globalSpinner svg {
  animation: spin 1.5s linear infinite;
}
.loader > svg {
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
